$backgroundColor: hsl(0, 0%, 8%);
$accentColor: #4a3dff;
$LightAccentColor: #7369ff;
$whiteColor: #ffffff;
$strokeColor: #707070;
$textColor: #dddddd;
$grayDarkColor: #080808;
$backgroundGrayColor: #343434;

// Calculator buttons Colors
$greenColor: hsl(150, 74%, 51%);
$greenColorHover: hsl(150, 74%, 56%);
$greenColorActive: hsl(150, 74%, 69%);
$redColor: hsl(360, 67%, 51%);
$redColorHover: hsl(360, 67%, 55%);
$redColorActive: hsl(360, 67%, 60%);
$orangeColor: hsl(33, 100%, 51%);
$orangeColorHover: hsl(33, 100%, 56%);
$orangeColorActive: hsl(33, 100%, 69%);

// Timer Colors

$daysColor: #7da4ff;
$hoursColor: #296aff;
$minutesColor: #477fff;


